* {
    box-sizing: border-box;
    background-color: aliceblue;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.bookmark-default {
    border: 1px solid black;
    margin-top:  30px; 
    padding-bottom: 10px;
}

.bookmark-expanded {
    border: 1px solid black;
    margin-top:  30px; 
    padding-bottom: 10px;
}

.bookmarks {
    list-style: none;
    padding: 10px;
}

.bookmark-rating {
    float: right;
}

.error-content{
    border: 1px solid red;
}

.rating-button-field {
    border: none;
}
